src/theWeelAx/theWeelDB/theWeelNet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/theWeelDB.xsd" />
      <s:import schemaLocation="http://localhost:3638/theWeelNet.asmx?schema=theWeelDB" namespace="http://tempuri.org/theWeelDB.xsd" />
      <s:element name="GetObjectById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nObjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjectByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjectByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/theWeelDB.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinksById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nObjectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinksByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinksByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/theWeelDB.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetObjectByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjectById" />
  </wsdl:message>
  <wsdl:message name="GetObjectByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinksByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinksById" />
  </wsdl:message>
  <wsdl:message name="GetLinksByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinksByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ObjectAccessSoap">
    <wsdl:operation name="GetObjectById">
      <wsdl:input message="tns:GetObjectByIdSoapIn" />
      <wsdl:output message="tns:GetObjectByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinksById">
      <wsdl:input message="tns:GetLinksByIdSoapIn" />
      <wsdl:output message="tns:GetLinksByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObjectAccessSoap" type="tns:ObjectAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjectById">
      <soap:operation soapAction="http://tempuri.org/GetObjectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinksById">
      <soap:operation soapAction="http://tempuri.org/GetLinksById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectAccessSoap12" type="tns:ObjectAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjectById">
      <soap12:operation soapAction="http://tempuri.org/GetObjectById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinksById">
      <soap12:operation soapAction="http://tempuri.org/GetLinksById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectAccess">
    <wsdl:port name="ObjectAccessSoap" binding="tns:ObjectAccessSoap">
      <soap:address location="http://localhost:3638/theWeelNet.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectAccessSoap12" binding="tns:ObjectAccessSoap12">
      <soap12:address location="http://localhost:3638/theWeelNet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>